body{
	margin: 0;
	padding: 0;
	
	background-size: ;

}
.img-circle{
	border-radius: 50%;

}
.PAD{
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: 'Pacifico', cursive;
}

a{
	text-decoration: none !important;
}
ul:link{
	text-decoration: none !important;
	list-style-type: none !important;
	font-size: 30px;
	line-height: 80px;
	color: white !important;


}
ul:a{
	text-decoration: none !important;
	list-style-type: none !important;
	font-size: 30px;
	line-height: 80px;
	color: white !important;
	
}
ul{
	text-decoration: none !important;
	list-style-type: none !important;
	font-size: 30px;
	line-height: 80px;
	color: white !important;
	
}

.top{
	padding-top: 20px;
}
.top2{
	padding-top: 180px;
}



#header{
	background-color: #fff1f2;
		height:800px;
	width:100%;
	
}

.center-text{
	

	font-size: 30px;
	

}


.name-font{
	
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	letter-spacing: 3px;

}

.ab{
	
	
	margin-bottom: -50px;
	position: fixed;

}
.font-cursive{
	font-family: 'Pacifico', cursive;
	z-index: 20;
}

.pink{
	color: #ff6666;
}

#data{
	min-height: 800px;
	width: 100%;
	background-color: #ff8080;
	position: absolute;
	display: inline-block;
	z-index: 2;

}


.heart{
	height: 500px;
	width:600px;
	z-index: 2;
	margin-bottom: -100px;
	margin-top: -100px;
	position: relative;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
h2 { 
   position: absolute; 
   top: 250px; 
   left: 0; 
   width: 100%; 
}




.q{
	margin-top: 50px;
	height: 100px;
	width: 400px;
	border-radius: 40%;
	background-color: #ff8080;
	border-style: ridge;
	border-width: 6px;
	border-color: #e16f6f;

}
.space-pad{
	margin-top: 50px;
	height: 100px;
	width: 400px;
	border-radius: 40%;
	background-color: #fff1f2;

}